.box {
    border: 2px solid var(--main-border-color);
    background-color: transparent;
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;

    appearance: none;
    &:hover {
        background-color: var(--box-hover-bg-color);
    }
}
