.btn {
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--main-border-color);
    background-color: transparent;
    color: var(--main-border-color);
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;

    appearance: none;
    &:hover {
        border-color: var(--text-color);
        background-color: var(--text-color);
        color: var(--main-bg-color);
    }
}
