:root {
    --text-color: rgba(203, 247, 237, 1);
    --main-bg-color: rgba(22, 25, 37, 1);
    --main-border-color: rgba(64, 110, 142, 1);
    --box-hover-bg-color: rgba(64, 110, 142, 1);
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    letter-spacing: 0.05rem;
    background-color: var(--main-bg-color);
}
